:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todos-list, .todo-input {
    width: 100%;
}

.todos-list {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.todo-item-group {
    display: flex;
    align-items: center;
    gap: 2rem;
}