<mat-form-field class="todo-input">
    <mat-label>Enter a TODO and press Enter</mat-label>
    <input matInput #input (keyup.enter)="onAddTodo(input.value, input)">
    <mat-icon matSuffix>edit</mat-icon>
</mat-form-field>

<mat-button-toggle-group #filter (change)="onFilterTodos($event)">
    <mat-button-toggle value="all">All</mat-button-toggle>
    <mat-button-toggle value="pending">Pending</mat-button-toggle>
    <mat-button-toggle value="completed">Completed</mat-button-toggle>
</mat-button-toggle-group>

<div class="todos-list">
    @for (todo of store.filteredTodos(); track todo.id; let index = $index) {
        <div class="todo-item">
            <div class="todo-item-group">
                <button mat-mini-fab aria-label="Delete todo button" (click)="onDeleteTodo(todo.id, $event)">
                    <mat-icon>delete</mat-icon>
                </button>
                <span [ngStyle]="{'text-decoration': todo.completed ? 'line-through' : 'none'}">
                    {{todo.title}}
                </span>
            </div>
            <mat-checkbox [checked]="todo.completed" [id]="'checkbox-'+todo.id" (change)="onTodoToggled(todo.id, todo.title, $event.checked)"></mat-checkbox>
        </div>
    }
</div>

<mat-paginator (page)="handlePageEvent($event)" [pageSizeOptions]="[5, 10, 25]" aria-label="Select page"></mat-paginator>